# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]

# Virtual environments
camtrap-env/
venv/
.venv/


# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/


# ============================================================
# Dataset files
# ============================================================

data/raw/
data/interim/
data/processed/
data/cropped/
data/empty/

# Original dataset metadata can be very large
data/metadata/*.json

# Downloaded images
*.jpg
*.jpeg
*.png
*.webp


# ============================================================
# Model checkpoints
# ============================================================

models/*.pt
models/*.pth
models/*.ckpt
models/*.onnx


# ============================================================
# Experiment logs/checkpoints
# ============================================================

experiments/*/checkpoints/


# ============================================================
# Secrets
# ============================================================

.env
.env.*
*.key
*.pem


# ============================================================
# IDE / OS
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db